<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <ul>
    <li> <a href='/'> Home </a></li>
    <li> <a href='/articles'> Articles </a> </li>
    <li> <a href='/articles/new'> Submit an Article </a> </li>
  </ul>

  <%- body %>

</body>
</html>