<form method='POST' action='/articles'>
  <div>
  <label for='title'> Title </label>
  <input id='title' type='text' name='title'>
  </div>
  <div>
  <label for='body'> Content </label>
  <textarea name='body'> </textarea>
  </div>
  <input id='article' type='submit'> Submit </input>
</form>

