<form method='POST' action='/articles'>
  <div>
  <label for='articleTitle'> Title </label>
  <input type='text' name='title'>
  </div>
  <div>
  <label for='articleContent'> Content </label>
  <textarea name='content'> </textarea>
  </div>
  <input id='article' type='submit'> Submit </input>
</form>

